[package]
name = "rustream"
version = "0.1.0"
edition = "2021"

[dependencies]
eframe = "0.29.0"
egui = "0.29.0"
egui_extras = { version = "0.29.0", features = ["svg"] }
image = "0.25.2"
scrap = "0.5.0"
log = "0.4.22"
env_logger = "0.11.5"
